.container {
  width: 480px;
  min-height: 600px;
  margin: 100px auto;
  padding: 20px;
  border: 2px solid rgb(112, 133, 175);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  /* background-color: rgba(200, 200, 200, 0.1); */
}

.header {
  text-align: center;
  font-size: 20px;
  color: rgb(16, 51, 121);
}

.form {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 10px 0;
}

.input {
  width: 80%;
  height: 30px;
  background-color: transparent;
}

.input::placeholder {
  color: rgb(183, 193, 215);
}

.form .input {
  border: none;
  border-bottom: 1px solid rgb(16, 51, 121);
  padding-left: 12px;
  font-style: 18px;
  outline: none;
  color: rgb(112, 133, 175);
}

.form .btn {
  width: 15%;
}

.btn {
  width: 40px;
  height: 40px;
  padding: 0 10px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  background-color: rgb(112, 133, 175);
  color: white;
  cursor: pointer;
}

.btn-f {
  width: 80px;
  height: 40px;
  padding: 0 10px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  background-color: rgb(16, 51, 121);
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(16, 51, 121);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.btn-f:hover {
  background-color: rgb(5, 15, 37);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.btn:active {
  box-shadow: none;
}

.btn-f:active {
  box-shadow: none;
}

.todoList {
  height: 500px;
  overflow-y: auto;
}

ul {margin: 0; padding: 0;}

.todoItem {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 10px 0;
  padding: 20px;
  border: 2px solid rgb(183, 193, 215);
  border-radius: 12px;
  color: rgb(16, 51, 121);
  font-size: 18px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.todoItem .item {
  display: flex;
  align-items: center;
  gap: 14px;
}

.todoItem input {
  display: none;
}

.todoItem label {
  /* .아이템 상속받지 않게 */
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(112, 133, 175);
  border-radius: 25%;
}

.todoItem input:checked ~ label {
  background-color: rgb(16, 51, 121);
  border:  2px solid rgb(112, 133, 175);
}

.todoItem input:checked + label + span {
  text-decoration: line-through;
  color: grey;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 10px 0;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar
{
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
                     left top,
                     left bottom,
                     color-stop(0.44, rgb(16, 51, 121)),
                     color-stop(0.72, rgb(112, 133, 175)),
                     color-stop(0.86, rgb(183, 193, 215)));
                     
}